.container{
    display: flex;
    flex-direction: row-reverse;
    /* flex-direction: column; */
}

.el{
    border: 2px solid rgb(43, 31, 12);
    background-color: beige;
    width: 100px;
    height: 70px;
    margin: 15px;
}