body {
    background-image: url(piter.html);
}

h1 {
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   front-style: italic;
   front-weight: 700;
   front

}
h2 {
    color: brown(255, 47, 234);

}